*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: 'GT America Expanded', sans-serif;
  --clr-dark: #181818;
  --clr-light: #fcfcfc;
  --clr-accent: #1812d6;
}

@media (min-width: 800px) {
  :root {
    --fs-body: 1.5rem;
  }
}

/* General Styles */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.5;
}

section {
  padding: 2em;
}

/* Typograghy */
p, ul, li {
  font-size: var(--fs-body);
  text-align: center;
}

.intro {
  font-size: 1.85rem;
}

p a:link {
  color: var(--clr-light);
  background-color: var(--clr-accent);
}

p a:hover {
  color: var(--clr-dark);
}

p a:visited {
  color: var(--clr-light);
}

ul {
  margin-top: 4em;
}

li {
  list-style-type: none;
  line-height: 2.2;
}

li a:link {
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

li a:hover {
  color: var(--clr-accent);
}

li a:visited {
  color: var(--clr-accent);
}

@media (max-width: 400px) {
  .li {
    left: 0;
    line-height: 1.2;
    text-align: center;
  }
}

/* Footer */

.footer {
  padding: 1rem;
  text-align: center;
}

/* Custom Fonts */

@font-face {
  font-family: 'GT America Expanded';
  src: url(/fonts/GT-America-Expanded-Medium.ttf),
    url(fonts/GT-America-Expanded-Medium.eot?#iefix) format('embedded-opentype'),
    url(fonts/GT-America-Expanded-Medium.woff) format('woff');
  font-style: normal;
  font-display: fallback;
}